<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atlas Copco Admin Panel</title>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
 <link rel="stylesheet" type = text/css href="{{ url_for('static',filename='navbar.css')}}">
<style >body {
    padding: 0;
    margin: 0;
     font-family: "Verdana";
     background-position: center top;
     background-image: url("{{ url_for('static', filename='Atlas.jpg') }}");
     background-attachment: fixed;
    ;
    }
</style>
</head>
 
<body>
    
    <ul class="nav justify-content-center">
            
        <li class="nav-item">
            <a class =" nav-link dropdown-toggle" data-toggle="dropdown" href="#" >Serial Details</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://warehousepicking.herokuapp.com/Add_Serial_no" >Add Serial Detail</a>
                <a class="dropdown-item" href="https://warehousepicking.herokuapp.com/Delete_Serial_no" >Delete Serial Detail</a>
            </div>
        </li>

        <li class="nav-item">
            <a class =" nav-link dropdown-toggle" data-toggle="dropdown" href="#" >Variant Details</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="http://127.0.0.1:5000/Add_Variant_Details" >Add Variant Details</a>
                <a class="dropdown-item" href="http://127.0.0.1:5000/Delete_Variant_Details" >Delete Variant Details</a>
            </div>
        </li>

        <li class="nav-item">
            <a class =" nav-link dropdown-toggle" data-toggle="dropdown" href="#" >Item Details</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="http://127.0.0.1:5000/Add_Item_Details" >Add Item Details</a>
                <a class="dropdown-item" href="http://127.0.0.1:5000/Delete_Item_Details" >Delete Item Details</a>
                <a class="dropdown-item" href="http://127.0.0.1:5000/Edit_Item_Detail" >Edit Item Details</a>
                <a class="dropdown-item" href="http://127.0.0.1:5000/Add_Item_Total_Quantity" >Add Item Quantity</a>
            </div>
        </li>
        
    </ul>
        <div class="container  mt-5 mb-5" ></div>
        
            <center ><h1>Atlas Copco Admin Panel</h1> </center>
 

</body>
 
</html>